<div class="modal-content" ng-show="current_page > 1 || sub.list.length> 0">
    <div class="row" style="margin:1px">
        <div class="col-md-6 col-md-offset-6">
            <button type="button" class="pull-left btn btn-default" ng-disabled="current_page ==0" ng-click="next('previous')">Previous</button>
            <span style="text-align:center">
                {{(current_page*10)+1}} to {{(current_page*10)+sub.list.length}}
            </span>
            <button type="button" ng-click="next('next')" ng-disabled="sub.list.length < 10" class="btn btn-default  pull-right">Next</button>
        </div>
    </div>
    <div class="row" style="padding:20px">
        <ul class="list-group" ng-repeat="subscriber in sub.list" style="margin:0px;" ng-show="sub.list.length> 0">
            <li class="list-group-item">{{subscriber.email}} <i class='pull-right text-muted'>subscribed on {{convertedTime(subscriber.timestamp)}}</i> </li>
        </ul>
        <span ng-show="subscriber.length == 0">Thats all</span>
    </div>
</div>
<div class="modal-content" ng-show="current_page == 0 && sub.list.length== 0 && list_loaded == true">
    You do not have any Email Subscriptions yet.
    <br> Please open any page on your website and subscribe using Yeloni Popup
</div>